* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  width: 100%;
  height: 100vh;
  padding: 50px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 5px 10px 5px 10px;
  border: 2px orangered solid;
  border-radius: 8px;
  margin-right: 3px;
}

button:hover {
  cursor: pointer;
  background-color: orangered;
  border: 2px gainsboro solid;
  color: white;
}

.display {
  border: 2px orangered solid;
  padding: 16px;
  border-radius: 16px;
  width: 443px;
  margin: 24px;
}

.red {
  color: red;
  padding: 40px;
  margin-left: 135px;

}

.blue {
  color: blue;
  padding: 40px;
  margin-left: 135px;
}

